// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';
@import 'box-sizing';
@import 'variables';

.body {
  margin: 0;
}

.container {
  background: $brand-white;
  color: $brand-black;
}

.puppies {
  background: $brand-gross-orange;
  color: $brand-white;
}

.button {
  background: $brand-gross-orange;
  color: $brand-white;
}

.dropdown-button {
  background: $brand-gross-orange;
  color: $brand-white;
}

.top-nav__form {
  background: $brand_dark_gray;
  color: $brand-white;
}
